//
//  Release.xcconfig
//  ConfigTest
//
//  Created by Anand Nigam on 05/02/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"

//MARK: - App Settings
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

//MARK: - API Keys
FIREBASE_KEY = acnkdjkbvjfbvfibvfjscdnkjvrhb

//MARK: - Server URLs
BASE_URL = https:/$()/github.com/anand2nigam
